h4{
    font-family: $font__title;
}


h3{
    font-family: $font__title;
}

.containerContenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: space-evenly;
    h4{
        font-size: 50px;
    }

    h3{
        font-size: 20px;
    }
}

.titreSessions{

}

.pageContenuSessions{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}

.cours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCours{
    background-color: white;
    border:2px solid black;
    width: 90%;
    cursor: pointer;
    transition-duration: 1s;
    &:hover{
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
        -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
        transition-duration: 1s;
    }
}

.contentCours{
    position: fixed;
    top: 10vh;
    left: 7.5vw;
    width: 85vw;
    height: 80vh;
    background-color: white;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
    
    .titreCours{
        font-size: 24px;
        font-family: $font__title;
    }

    .texteCours{
        padding: 0 60px;
        font-size: 18px;
        font-family: $font__main;
    }


}