
//////////////////////////////////////////////////////////////////// Section header pour selection programme, vie étudiante, projets et stages
.BoutonsHeader{
    display: flex;
    flex-direction: row;
    height: 7.5vh;
    width:85%;
    align-items: center;
    a{
        text-decoration: none;
        padding: 0;
        color: black;
        font-family: $font__title;
        display: flex;
        align-content: center;
        justify-content: center;
        p{
            text-align: center;
            height: fit-content;
            margin: 2vh;
            padding: 0;
        }
    }
}
.BoutonNavHeaderB{
    
    background-image: url('/wp-content/uploads/BoutonBleu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
    font-size: clamp(1rem, 1vw, 2rem);
    
    
}
.BoutonNavHeaderY{
    
    background-image: url('/wp-content/uploads/BoutonJaune.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
.BoutonNavHeaderO{
    
    background-image: url('/wp-content/uploads/BoutonOrange.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
.BoutonNavHeaderV{
    
    background-image: url('/wp-content/uploads/BoutonVert.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
////////////////////// hover pour les boutons
.BoutonNavHeaderB:hover{
    background-image: url('/wp-content/uploads/BoutonBleu_Hover.png');
}

.BoutonNavHeaderY:hover{
    background-image: url('/wp-content/uploads/BoutonJaune_hovrr.png');
}

.BoutonNavHeaderO:hover{
    background-image: url('/wp-content/uploads/BoutonOrange_hover.png');
}

.BoutonNavHeaderV:hover{
    background-image: url('/wp-content/uploads/BoutonVert_Hover.png');
}

////////////////////// active pour les boutons
.BoutonNavHeaderB:active{
    background-image: url('/wp-content/uploads/BoutonBleu_Hover.png');
}

.BoutonNavHeaderY:hover{
    background-image: url('/wp-content/uploads/BoutonJaune_hovrr.png');
}

.BoutonNavHeaderO:hover{
    background-image: url('/wp-content/uploads/BoutonOrange_hover.png');
}

.BoutonNavHeaderV:hover{
    background-image: url('/wp-content/uploads/BoutonVert_Hover.png');
}


////////////////////////////////////////////////////////////////////////Section des 4 bouttons contenu
.BoutonNavOrange{
    display: flex;
    flex-direction: column;
    margin:5px;
    align-items: flex-end;
    
    
}
//bouton orange
.BoutonNavOetB{
    display: flex;
    background-image: url('/wp-content/uploads/BoutonNavOrange.png');
    background-size: cover;
    height:100px;
    width:100px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
// hover pour que bouton tourne blue
.BoutonNavOetB:hover{
    background-image: url('/wp-content/uploads/BoutonNav_hover.png');
}
//sections de la page
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#2a2841;
    height: 15vh;
}
.PageContenu{
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    height: 70vh;
    background-color: #b2d4e0;
    background-image: url('/wp-content/uploads/BGBleu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0; 
    padding: 0; 
    p {
        margin-right: 10vw;
    }
}
.logoLeprogramme{
    display: flex;
    margin-left: 4vw;
    align-items: center;
}

footer {
    .container {
        .rowLeProgramme {
            
        }
    }
    
}

@media screen and (min-width: 992px) {
.mobile {
    display: none;
}
//////////////////////////////////////////////////////////////////// Section header pour selection programme, vie étudiante, projets et stages
.BoutonsHeader{
    display: flex;
    flex-direction: row;
    height: 7.5vh;
    width:85%;
    align-items: center;
    a{
        text-decoration: none;
        padding: 0;
        color: black;
        font-family: $font__title;
        display: flex;
        align-content: center;
        justify-content: center;
        p{
            text-align: center;
            height: fit-content;
            margin: 2vh;
            padding: 0;
        }
    }
}
.BoutonNavHeaderB{
    
    background-image: url('/wp-content/uploads/BoutonBleu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
    font-size: clamp(1rem, 1vw, 2rem);
    
    
}
.BoutonNavHeaderY{
    
    background-image: url('/wp-content/uploads/BoutonJaune.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
.BoutonNavHeaderO{
    
    background-image: url('/wp-content/uploads/BoutonOrange.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
.BoutonNavHeaderV{
    
    background-image: url('/wp-content/uploads/BoutonVert.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height:90%;
    width:70%;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
////////////////////// hover pour les boutons
.BoutonNavHeaderB:hover{
    background-image: url('/wp-content/uploads/BoutonBleu_Hover.png');
}

.BoutonNavHeaderY:hover{
    background-image: url('/wp-content/uploads/BoutonJaune_hovrr.png');
}

.BoutonNavHeaderO:hover{
    background-image: url('/wp-content/uploads/BoutonOrange_hover.png');
}

.BoutonNavHeaderV:hover{
    background-image: url('/wp-content/uploads/BoutonVert_Hover.png');
}

////////////////////// active pour les boutons
.BoutonNavHeaderB:active{
    background-image: url('/wp-content/uploads/BoutonBleu_Hover.png');
}

.BoutonNavHeaderY:hover{
    background-image: url('/wp-content/uploads/BoutonJaune_hovrr.png');
}

.BoutonNavHeaderO:hover{
    background-image: url('/wp-content/uploads/BoutonOrange_hover.png');
}

.BoutonNavHeaderV:hover{
    background-image: url('/wp-content/uploads/BoutonVert_Hover.png');
}


////////////////////////////////////////////////////////////////////////Section des 4 bouttons contenu
.BoutonNavOrange{
    display: flex;
    flex-direction: column;
    margin:5px;
    align-items: flex-end;
    
    
}
//bouton orange
.BoutonNavOetB{
    display: flex;
    background-image: url('/wp-content/uploads/BoutonNavOrange.png');
    background-size: cover;
    height:100px;
    width:100px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    font: inherit;
    background-color: transparent;
}
// hover pour que bouton tourne blue
.BoutonNavOetB:hover{
    background-image: url('/wp-content/uploads/BoutonNav_hover.png');
}
//sections de la page
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#2a2841;
    height: 15vh;
}
.PageContenu{
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    height: 70vh;
    background-color: #b2d4e0;
    background-image: url('/wp-content/uploads/BGBleu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0; 
    padding: 0; 
    p {
        margin-right: 10vw;
    }
}
.logoLeprogramme{
    display: flex;
    margin-left: 4vw;
    align-items: center;
}

footer {
    .container {
        .rowLeProgramme {
            
        }
    }
    
}
}